{% extends "pmain.html" %}
{% block body %}
{% load static %}
<div class="page-banner height-200 bg-1">
		<div class="d-table">
			<div class="page-title vertical-middle text-center">
				<h2>Checkout</h2>
			</div>
		</div>
	</div>
	<!--page-banner-area end-->
	
	<!--breadcrumb-area start-->
	<div class="breadcrumb-area mt-25">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="site-breadcrumb">
						<ul class="list-none">
							<li><a href="#">Home</a></li>
							<li><i class="fa fa-angle-right"></i></li>
							<li>Checkout</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--breadcrumb-area end-->
	
	<!--checkout-area start-->
	<div class="checkout-area mt-65">
		<div class="container">
			<div class="row mt-10">
				<div class="col-lg-12">
					<div class="billing-form">
						<h4>Billing Address</h4>
						<form method="POST" action="">
							{% csrf_token %}
							<div class="row align-items-center">
								<div class="col-lg-3">
									<label>FULL NAME *</label>
								</div>
								<div class="col-lg-9">
									<input type="text" name="name" value="{{request.user.first_name}} {{request.user.last_name}}" readonly />
								</div>
							</div>
<!--							<div class="row align-items-center">-->
<!--								<div class="col-lg-3">-->
<!--									<label>INSTITUTION NAME</label>-->
<!--								</div>-->
<!--								<div class="col-lg-9">-->
<!--									<input type="text" />-->
<!--								</div>-->
<!--							</div>-->
							<div class="row align-items-center">
								<div class="col-lg-3">
									<label>EMAIL ADDRESS *</label>
								</div>
								<div class="col-lg-9">
									<input type="email" name="email" value="{{request.user.username}}" readonly />
								</div>
							</div>
<!--							<div class="row align-items-center">-->
<!--								<div class="col-lg-3">-->
<!--									<label>PHONE *</label>-->
<!--								</div>-->
<!--								<div class="col-lg-9">-->
<!--									<input type="text" name="phone" required/>-->
<!--								</div>-->
<!--							</div>-->
							<div class="order-details mt-30">
								<h4>Your Order</h4>
								<div class="order-details-inner">

									<div class="row mt-30">
										<div class="col-md-8">
											<div class="row align-items-center">
												<div class="col-lg-4">
													<label>COURSE NAME*</label>
												</div>
												<div class="col-lg-8">
													<input type="text" name="course" value="{{mycart.title}}" readonly/>
												</div>
											</div>
										</div>
											<div class="col-md-8">
											<div class="row align-items-center">
												<div class="col-lg-4">
													<label>TOTAL</label>
												</div>
												<div class="col-lg-8">
													<input type="text" value="{{mycart.price}}" readonly/>
												</div>
											</div>
										</div>
  									</div>
									<div class="payment-gateways mt-30">

										<div class="row align-items-center">
											<div class="col-lg-3">
												<label>Bkash/Nogod Transection Number</label>
											</div>
											<div class="col-lg-9">
												<input type="number" name="Transection_Number"/>
											</div>
										</div>
										<div class="row align-items-center">
											<div class="col-lg-3">
												<label>Bkash/Nogod Transection ID</label>
											</div>
											<div class="col-lg-9">
												<input type="text" name="TransectionID"/>
											</div>
										</div>
									</div>
									<div class="place-order text-center mt-60">
										<button type="submit" class="btn-common width-180">Place porder</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>

			</div>
		</div>
	</div>
{% endblock body %}